
<h2 id="headerHotItems">customshop</h2>

<%= form_tag(search_page_path, :method => "get",
             class: 'navbar-form navbar-left') do %>
  <div class="input-group">
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
    <div class="input-group-btn">
      <%= button_tag "search", :class => 'btn btn-primary ml-1',:name => nil%>
    </div>
  </div>
<% end %>



<% if false %>
  <% if not @haveImages == FALSE %>
    <div class="threeCenteredElements" id="hotItems">
      <div class="row">
        <div class="col"> <%= link_to image_tag(@hotItemOne.image2), @hotItemOne %>  </div>
        <div class="col"> <%= link_to image_tag(@hotItemTwo.image2), @hotItemTwo %>  </div>
        <div class="col"> <%= link_to image_tag(@hotItemThree.image2), @hotItemThree %>  </div>
      </div>
    </div>
  <% else  %>
    <p>No items</p>
  <% end %>
<% end %>



<div class="centeredText mt-3 mb-3" id="siteDescription">
    welcome
</div>

<div class="list" id="itemList">
  <%= render 'items/list' %>
</div>



