

<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title, :label => "Заголовок"%>
    <%= f.input :desc , :label => "Описание/особенности", input_html: {rows: 6, cols: 10} %>
    <%= f.input :sex, :label => "Пол", as: :select, collection: ['муж','жен']  %>
    <%= f.input :tag, :label => "Тип", as: :select, collection: ['верхняя одежда','верх', 'низ', 'обувь', 'другое']  %>
    <%= f.input :price, :label => "Цена" %>
    <%= f.input :image1 %>
    <%= f.input :image2 %>
    <%= f.input :image3 %>
    <%= f.input :size, :label => "Размер", as: :select, collection: ['XS / 42 EU','S / 44-46 EU', 'M / 48-50EU', 'L / 52-54', 'XL / 56 EU'] %>
    <%= f.input :location, :label => "Страна, город" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit , class: "btn btn-primary" %>
  </div>
<% end %>
