<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th>Price</th>
      <th>Image1</th>
      <th>Image2</th>
      <th>Image3</th>
      <th>Image4</th>
      <th>Size</th>
      <th>Condition</th>
      <th>Location</th>
      <th>Shipment</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.desc %></td>
        <td><%= item.price %></td>
        <td><%= item.image1 %></td>
        <td><%= item.image2 %></td>
        <td><%= item.image3 %></td>
        <td><%= item.image4 %></td>
        <td><%= item.size %></td>
        <td><%= item.condition %></td>
        <td><%= item.location %></td>
        <td><%= item.shipment %></td>
        <td><%= item.tag %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
