<h3 class="pt-3"><%= @item.title %> </h3>

<p> <%= @item.desc %></p>

<div class="photoGallery" id="photosOnShowItem">
  <%= image_tag(@item.image1) %>
  <%= image_tag(@item.image2) %>
  <%= image_tag(@item.image3) %>
  <%= image_tag(@item.image4) %>
</div>



<%= link_to @item.user.username, profile_path(@item.user.username), class:"btn btn-light" %>

<% if current_user %>
  <% if @item.user_id == current_user.id %>
    <%= link_to 'Edit', edit_item_path(@item), class:"btn btn-light" %>
    <%= link_to 'Delete', @item, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-light"%>

  <% else %>
    <%= link_to "#{@item.price}", root_path, class: "btn btn-primary" %>
  <% end %>
<% else %>
  <%= link_to "#{@item.price}", new_user_registration_path, class: "btn btn-primary" %>
<% end %>
<%= link_to 'Back', root_path, class:"btn btn-light" %>